In [3]:
# Package imports
%load_ext google.cloud.bigquery
import pandas as pd

# "Will it snow tomorrow?" - The time traveler asked
The following dataset contains climate information form over 9000 stations accross the world. The overall goal of these subtasks will be to predict whether it will snow tomorrow 13 years ago. So if today is 2022.02.15 then the weather we want to forecast is for the date 2009.02.16. You are suppsed to solve the tasks using Big Query, which can be used in the Jupyter Notebook like it is shown in the following cell. For further information and how to used BigQuery in Jupyter Notebook refer to the Google Docs. 

The goal of this test is, to test your coding knowledge in Python, BigQuery and Pandas as well as your understanding of Data Science. If you get stuck at the first part, you can use the replacement data provided in the second part

In [4]:
%%bigquery temp
SELECT
    *,
FROM 
    `bigquery-public-data.samples.gsod`
LIMIT 20

Query complete after 0.03s: 100%|██████████| 1/1 [00:00<00:00, 452.70query/s]
Downloading: 100%|██████████| 20/20 [00:06<00:00,  3.10rows/s]

In [5]:
temp # view data

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
0,39730,99999,1929,10,20,52.799999,4,45.500000,4.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
1,33110,99999,1929,12,18,47.500000,4,44.000000,4.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
2,37770,99999,1931,4,24,50.200001,4,44.299999,4.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
3,726810,24131,1931,6,23,65.099998,24,41.500000,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
4,726810,24131,1931,3,2,42.799999,24,31.500000,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
5,726810,24131,1931,9,17,67.000000,24,40.500000,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
6,726810,24131,1931,8,7,68.400002,24,37.200001,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
7,726810,24131,1932,7,14,64.099998,24,54.099998,8.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
8,726810,24131,1932,10,23,41.099998,24,31.000000,8.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
9,726810,24131,1932,1,5,24.600000,24,21.100000,8.0,NaN,...,NaN,None,NaN,NaN,True,True,True,True,True,True
10,726815,24106,1932,8,27,71.000000,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
11,726810,24131,1932,8,20,71.000000,24,41.700001,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
12,726810,24131,1932,5,21,55.200001,24,46.599998,8.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
13,370310,99999,1933,10,17,55.299999,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
14,292310,99999,1933,12,1,-11.000000,4,NaN,NaN,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
15,370310,99999,1933,6,17,62.700001,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
16,239330,99999,1933,6,4,70.500000,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,True,True,True,True,True,True
17,282750,99999,1933,1,7,-5.000000,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
18,292310,99999,1933,3,17,-10.300000,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
19,370310,99999,1933,4,23,65.000000,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False

## Part 1

### 1. Task
Change the date format to 'YYYY-MM-DD' and select the data from 2005 till 2009 for station numbers including and between 725300 and 726300 , and save it as a pandas dataframe. Note the maximum year available is 2010.

In [7]:
# get column names for query
# print(*temp, sep=',\n')

Note: We assume "2005 till 2009"means including 2009.

In [8]:
%%bigquery all_data
SELECT
    station_number,
    wban_number,
    mean_temp,
    num_mean_temp_samples,
    mean_dew_point,
    num_mean_dew_point_samples,
    mean_sealevel_pressure,
    num_mean_sealevel_pressure_samples,
    mean_station_pressure,
    num_mean_station_pressure_samples,
    mean_visibility,
    num_mean_visibility_samples,
    mean_wind_speed,
    num_mean_wind_speed_samples,
    max_sustained_wind_speed,
    max_gust_wind_speed,
    max_temperature,
    max_temperature_explicit,
    min_temperature,
    min_temperature_explicit,
    total_precipitation,
    snow_depth,
    fog,
    rain,
    snow,
    hail,
    thunder,
    tornado,
DATE(year, month, day) AS date,
FROM 
    `bigquery-public-data.samples.gsod`
WHERE 
    year BETWEEN 2005 AND 2009 AND
    station_number BETWEEN 725300 AND 726300

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 371.47query/s]
Downloading: 100%|██████████| 377784/377784 [03:24<00:00, 1846.83rows/s]

In [9]:
all_data.head()

,station_number,wban_number,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,num_mean_sealevel_pressure_samples,mean_station_pressure,num_mean_station_pressure_samples,...,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado,date
0,725835,99999,90.500000,4,36.500000,4.0,NaN,NaN,NaN,NaN,...,None,0.0,NaN,False,False,False,False,False,False,2005-08-05
1,725868,99999,71.599998,4,53.599998,4.0,NaN,NaN,NaN,NaN,...,None,0.0,NaN,False,False,False,False,False,False,2005-07-30
2,725457,99999,80.099998,4,62.599998,4.0,NaN,NaN,NaN,NaN,...,None,0.0,NaN,False,False,False,False,False,False,2005-08-29
3,725835,99999,84.599998,5,30.600000,5.0,NaN,NaN,NaN,NaN,...,None,0.0,NaN,False,False,False,False,False,False,2005-08-02
4,725869,99999,65.800003,5,39.900002,5.0,NaN,NaN,NaN,NaN,...,None,0.0,NaN,False,False,False,False,False,False,2005-07-28

### 2. Task 
From here want to work with the data from all stations 725300 to 725330 that have information from 2005 till 2009.

In [18]:
# all_data.info()
subset_df = all_data # Keep original dataset intact to avoid re-executing the query

subset_df['date'] = pd.to_datetime(subset_df['date']).dt.normalize() # Convert date column to pandas datetime

# We use variables for subsetting for potential automation
min_date = '2005-01-01'
max_date = '2009-12-31'
min_station_number = 725300
max_station_number = 725330

subset_df = subset_df[(subset_df['date'] >= min_date) & (subset_df['date'] <= max_date)]
subset_df = subset_df[(subset_df['station_number'] >= min_station_number) & (subset_df['station_number'] <= max_station_number)]

In [22]:
subset_df.describe(datetime_is_numeric=True)

,station_number,wban_number,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,num_mean_sealevel_pressure_samples,mean_station_pressure,num_mean_station_pressure_samples,...,num_mean_visibility_samples,mean_wind_speed,num_mean_wind_speed_samples,max_sustained_wind_speed,max_gust_wind_speed,max_temperature,min_temperature,total_precipitation,snow_depth,date
count,18129.000000,18129.000000,18129.000000,18129.000000,18127.000000,18127.000000,16291.000000,16291.000000,993.000000,993.000000,...,18126.000000,18124.000000,18124.000000,18119.000000,11468.000000,18127.000000,0.0,17938.000000,565.000000,18129
mean,725316.962050,72766.474488,51.999636,23.574163,41.605108,23.553704,1016.937585,21.682217,990.766767,23.309164,...,23.565155,7.495834,23.528195,14.049412,23.153270,42.580692,NaN,0.095488,2.865133,2007-07-02 19:52:01.032599552
min,725300.000000,3887.000000,-16.200001,4.000000,-23.500000,4.000000,985.299988,4.000000,967.599976,4.000000,...,4.000000,0.000000,4.000000,2.900000,11.100000,-34.599998,NaN,0.000000,1.200000,2005-01-01 00:00:00
25%,725314.000000,14842.000000,36.299999,24.000000,27.500000,24.000000,1012.799988,20.000000,986.400024,24.000000,...,24.000000,4.800000,24.000000,9.900000,18.100000,28.400000,NaN,0.000000,1.200000,2006-04-01 00:00:00
50%,725316.000000,99999.000000,53.799999,24.000000,42.599998,24.000000,1016.700012,23.000000,990.700012,24.000000,...,24.000000,7.000000,24.000000,13.000000,22.000000,44.099998,NaN,0.000000,2.000000,2007-07-03 00:00:00
75%,725326.000000,99999.000000,69.099998,24.000000,57.200001,24.000000,1020.900024,24.000000,995.000000,24.000000,...,24.000000,9.600000,24.000000,16.900000,27.000000,57.900002,NaN,0.040000,3.900000,2008-10-01 00:00:00
max,725330.000000,99999.000000,92.000000,24.000000,79.099998,24.000000,1044.199951,24.000000,1017.099976,24.000000,...,24.000000,24.000000,24.000000,49.000000,63.900002,87.800003,NaN,9.990000,13.000000,2009-12-31 00:00:00
std,8.979529,39561.090384,19.392603,1.817230,18.494937,1.857548,6.920370,3.198832,7.302087,2.276299,...,1.829544,3.581758,1.928344,5.241219,6.382058,18.646582,NaN,0.279290,2.105886,NaN

Do a first analysis of the remaining dataset, clean or drop data depending on how you see appropriate.

### 3. Task
Now it is time to split the data, into a training, evaluation and test set. As a reminder, the date we are trying to predict snow fall for is the following, and hence should constitute your test set.

In [ ]:
import datetime as dt

str(dt.datetime.today()- dt.timedelta(days=13*365)).split(' ')[0]

## Part 2
If you made it up to here all by yourself, you can use your prepared dataset to train an Algorithm of your choice to forecast whether it will snow on the following date for each station in this dataset:

In [ ]:
import datetime as dt

str(dt.datetime.today()- dt.timedelta(days=13*365)).split(' ')[0]

You are allowed to use any library you are comfortable with such as sklearn, tensorflow keras etc. 
If you did not manage to finish part one feel free to use the data provided in 'coding_challenge.csv' Note that this data does not represent a solution to Part 1.